/* Start */
.page-content {
  padding: 30px;
  overflow-y: auto;
  height: 80vh;
}
@media (max-width: 320px) {
  .page-content {
    padding: 10px;
  }
}
.page-content .project-content {
  padding: 20px;
  background: linear-gradient(55deg,rgba(0,0,0,.22),hsla(0,0%,100%,.25));
}
.page-content .project-content p,
.page-content .project-content summary {
  color: #fff;
  font-size: .8rem;
  margin-bottom: 10px;
}
.page-content .project-content p strong,
.page-content .project-content summary strong {
  color: #f9826c;
}
.page-content .project-content p a  {
  color: #fff;
  font-size: .9rem;
}
.page-content .project-content .technologies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-content .project-content .technologies li {
  padding: 3px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 0.8rem;
  border: 1px solid #0BBBA0;
  border-radius: 4px;
  transition: color 0.3s ease-in-out;
}
.page-content .project-content .technologies li:hover {
  color: #f9826c;
}
.page-content .project-content p a,
.page-content .project-content p a svg path {
  transition: color 0.3s ease-in-out;
}
.page-content .project-content p a svg path {
  transition: fill 0.3s ease-in-out;
}
.page-content .project-content p a svg {
  width: 12px;
  height: 12px;
}
.page-content .project-content p a:hover {
  color: #f9826c;
}
.page-content .project-content p a:hover svg path{
  fill: #f9826c;
}
.page-content .project-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}
.page-content .project-images img {
  width: 160px;
  height: 340px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: transform 0.5s ease-in-out;
}
.page-content .project-images img:hover {
  transform: scale(1.2);
}
/* End */